body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-top: 50px;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 20px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.tabcontent img {
    width: 100%;
    height: auto;
}

.language-switcher {
    position: absolute;
    top: 20px;
    right: 20px;
}

.language-switcher select {
    font-size: 16px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    outline: none;
}
