/* 通用样式重置 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body、h1、p 的 margin 重置为零 */
body, h1, p {
    margin: 0;
}

/* 容器样式，使用弹性盒子，隐藏溢出内容 */
.container {
    display: flex;
    margin: 0;
    overflow: hidden;
}

/* 共用的容器样式，白色背景、阴影、圆角、内边距和右外边距 */
.intro-container, .image-container, .social-media, .avatar {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-right: 20px;
}

/* 图片容器样式，弹性伸缩，垂直滚动，高度 100vh，过渡效果，右外边距自动 */
.image-container {
    flex: 1;
    overflow-y: auto;
    height: 100vh;
    transition: transform 0.3s ease-in-out;
    margin-right: 20%;
}

/* 标签样式，边框、背景色、圆角、上外边距 */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 20px;
}

/* 标签按钮样式，浮动、边框、圆角、背景色、内外边距、光标指针、过渡效果、字体大小 */
.tab button {
    background-color: inherit;
    float: left;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 12px;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

/* 标签按钮悬停效果，背景色变浅灰色 */
.tab button:hover {
    background-color: #ddd;
}

/* 激活状态的标签按钮样式，背景色深灰色 */
.tab button.active {
    background-color: #ccc;
}

/* 标签内容样式，隐藏、内边距、边框、圆角 */
.tabcontent {
    display: none;
    padding: 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

/* 标签内容中的角色图片样式，宽度 100%，高度自动，居中显示 */
.tabcontent img.character-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

/* 语言切换器样式，上外边距 */
.language-switcher {
    margin-top: 20px;
}

/* 语言切换器下拉框样式，字体大小、内外边距、圆角、背景色、无边框、轮廓线 */
.language-switcher select {
    font-size: 14px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: #f1f1f1;
    outline: none;
}

/* 头像容器样式，弹性盒子，垂直方向排列，居中对齐，下外边距 */
.avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* 头像样式，圆角、宽高 80px */
.avatar img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* 社交媒体链接容器样式，弹性盒子，水平方向居中，上外边距 */
.links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* 社交媒体链接段落样式，左右边距，字体图标大小、颜色 */
.links p {
    margin: 0 10px;
}

.links i {
    font-size: 24px;
    color: #000;
}

/* 响应式设计，当屏幕宽度小于 768px 时的样式变化 */
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    /* 移除弹性盒子外边距和右外边距 */
    .intro-container, .image-container, .social-media, .avatar {
        border-radius: 0;
        margin-right: 0;
        margin-left: 0;
    }

    /* 移除标题的下外边距 */
    .intro h1 {
        margin-bottom: 10px;
    }

    /* 响应式头像大小 */
    .avatar img {
        width: 60px;
        height: 60px;
    }
}
